<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish</title>
</head>
<body>
    <h1>Kirish</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Foydalanuvchi nomi:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Parol:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Kirish</button>
    </form>
</body>
</html>
